/*A html test hátterének formázása*/
body {
    background-image: url("https://img.freepik.com/free-photo/texture-old-faded-vintage-paper-beige-retro-background-grunge-paper-with-spots-streaks_213524-157.jpg?size=626&ext=jpg");
    background-size: cover;
}

/*Logokat és a cimet/dátumot tartó divet formázza meg*/
.logo-holder {
    /*border: 1px solid black;*/
    background-color: #f5f5dc;
    background-size: cover;
    filter: brightness(0.75);
    padding: 3% 2% 3% 2%;
    width: 10%;
    height: auto;
    box-shadow: 5px 5px grey;
}

/*Megformmázza a logonkat*/
#logo {
    filter: drop-shadow(0 0 0.75rem #000);
    -webkit-user-drag: none;
    width: 100%;
}

/*Logok tetején látható cim megformázására szoló id*/
.logo-title {
    /*border: black 1px solid;*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 60%;
    position: absolute;
    top: 5%;
    margin-left: 5%;
    font-size: large;
}

/*Logok alján látható dátum megformázására szoló id*/
#logo-date {
    /*border: black 1px solid;*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 45%;
    position: absolute;
    top: 75%;
    margin-left: 15%;
    font-size: large;
    text-align: center;
}

/*Első kép tartójának formázása*/
#first {
    position: relative;
    top: 5%;
    left: 80%;
}

/*Második kép tartójának és annak a cimének formázása*/
#second {
    position: absolute;
    top: 25%;
    left: 40%;
}

#second-title {
    width: 100%;
    left: -5%;
}

/*Harmadik kép tartójának és annak a cimének formázása*/
#third {
    position: absolute;
    top: 65%;
    left: 10%;
}

#third-title {
    width: 100%;
    left: -5%;
}

/*Szigetek formázása*/
.islands-holder {
    position: absolute;
    height: auto;
    width: 20%;
    filter: grayscale(0.5);
}

.islands {
    -webkit-user-drag: none;
    height: 100%;
    width: 100%;
}

#island1 {
    top: 5%;
    left: 5%;
}

#island2 {
    right: 5%;
    bottom: 5%;
}

/*Piros nyilaknak a formázása*/
.red-line {
    position: absolute;
}

#line1 {
    height: 20%;
    width: 2%;
    right: 12.5%;
    top: 35%;
}

#line2 {
    transform: rotate(108deg);
    height: 20%;
    width: 2%;
    right: 29%;
    bottom: 17.5%;
}

#line3 {
    transform: rotate(120deg);
    height: 20%;
    width: 2%;
    right: 40%;
    bottom: 27.5%;
}

#line4 {
    transform: rotate(105deg);
    height: 22.5%;
    width: 2%;
    left: 32%;
    top: 20%;
}

#line5 {
    transform: rotate(-10deg);
    height: 16%;
    width: 2%;
    left: 12%;
    top: 44%;
}

.line-part {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 30%;
    width: 30%;
    height: 12.5%;
    background-color: #f00;
    box-shadow: 2px -2px #000;
}