@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
    background-image: url("Abstract Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-weight: bolder;
    font-family: 'Source Code Pro', monospace;
}

p {
    font-weight: bolder;
    font-family: 'Source Code Pro', monospace;
}

#minimalize_window {
    transition-duration: 0.1s;
    position: relative;
    background-color: gray;
    width: 70px;
    height: 45px;
    left: 77.9%;}
#maximize_window {
    transition-duration: 0.1s;
    position: relative;
    background-color: gray;
    width: 70px;
    height: 45px;
    left: 85.25%;
    bottom: 136%;}
#close_window {
    transition-duration: 0.1s;
    position: relative;
    background-color: gray;
    width: 70px;
    height: 45px;
    left: 92.6%;
    bottom: 271%;}
:hover#maximize_window {
    transition-duration: 0.1s;
    background-color: lightgray;}
:hover#minimalize_window {
    transition-duration: 0.1s;
    background-color: lightgray;}
:hover#close_window {
    transition-duration: 0.1s;
    background-color: red;
    color: white;}

.function_window_text {
    cursor: default;
    position: relative;
    text-align: center;
    width: 15px;
    height: 10px;
    top: 25%;
    left: 40%;
    font-family: 'Source Code Pro', monospace;
    font-weight: 1000;}

.commandprompt_input {
    width: 25%;
    border: none;
    background-image: none;
    caret-color: transparent;
    position: relative;
    right: 5px;
    font-family: 'DotGothic16', sans-serif;
    font-size: 100%;
    background-color: transparent;
    color: white;}
.commandprompt_input:focus {
    outline: none;}

.futtatas {
    top: -6.75%;
    left: 43.5%;
    position: relative;
    background-color: transparent;
    font-family: 'DotGothic16', sans-serif;
    color: white;
    border: none;}
#output {
    font-family: 'DotGothic16', sans-serif;
    position: relative;
    left: 2.5%;
    color: white;}

.project_teammates_title_right {
    position: relative;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 30px;
    top: -50.5%;
    left: 78.25%;
    width: 20%;
    text-align: center;
}
.project_teammates_title_left {
    position: absolute;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 30px;
    top: 15%;
    left: 2%;
    width: 20%;
    text-align: center;
}

.commandprompt_icon {
    -webkit-user-drag: none;
    position: absolute;
    top: 10px;
    left: 15px;
    width: 25px;
}

.commandprompt_upper {
    background-color: grey;
    width: 100%;
    height: 45px;
}
.commandprompt_upper_text {
    font-weight: normal;
    cursor: default;
    position: relative;
    font-size: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    bottom: 390%;
    left: 5%;
    width: 105px;
}
.commandprompt {
    opacity: 90%;
    background-color: black;
    position: relative;
    left: 25%;
    top: 10%;
    width: 50%;
    height: 65%;
}
.commandprompt_text {
    font-weight: normal;
    cursor: default;
    font-family: 'DotGothic16', sans-serif;
    font-size: 100%;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
}
#output {
    font-weight: normal;}

.robi-card-holder {
    position: absolute;
    width: 20%;
    height: 30%;
    top: 20%;
    left: 2%;}
.darius-card-holder {
    position: absolute;
    width: 20%;
    height: 30%;
    top: 60%;
    left: 2%;}
#darius-pic {
    position: relative;
    left: -5%;}
.daniel-card-holder {
    position: absolute;
    width: 20%;
    height: 30%;
    top: 60%;
    right: 2%;}
.david-card-holder {
    position: absolute;
    width: 20%;
    height: 30%;
    top: 20%;
    right: 2%;}

.robi-card, .darius-card, .daniel-card, .david-card {
    border-radius: 5%;
    background-color: grey;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;}
.robi-card-holder:hover .robi-card, .darius-card-holder:hover .darius-card, .daniel-card-holder:hover .daniel-card, .david-card-holder:hover .david-card {
    transform: rotateY(180deg);}
.robi-card-front, .robi-card-back, .darius-card-front, .darius-card-back, .daniel-card-front, .daniel-card-back, .david-card-front, .david-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;}
.robi-card-front, .darius-card-front, .daniel-card-front, .david-card-front {
    border-radius: 5%;
    background-color: lightseagreen;}
.robi-card-back, .darius-card-back, .daniel-card-back, .david-card-back {
    transform: rotateY(180deg);}
.robi-card-back {
    margin-top: 9.5%;
    height: 75%;}